/* RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* ROOT VARIABLES */
:root {
    --color-primary: #3d7ff7;
    --color-white: #fff;
    --color-secondary: #ecf2fe;
    --color-heading: #000;
    --color-border: #bbdcfb;
    --color-heading-light: #333;
    --border-radius: 8px;
}

/* HTML */
html {
    font-size: 62.5%;
}

/* BODY */
body {
    background-color: var(--color-white);
    font-size: 1.4rem;
}

h1,
h2,
h3,
h5 {
    color: var(--color-heading);
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 2rem;
}

@media screen and (min-width:1024px) {

    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3rem;
    }
}

.container {
    margin: 0 auto;
}

/* buttons */
.btn {
    border: 0;
    outline: 0;
    border-radius: var(--border-radius);
    cursor: pointer;
    padding: 1rem 1.5rem;
    text-align: center;
    white-space: nowrap;
    font-size: 1.4rem;
    font-weight: 500;
}

.btn--primary {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.btn--secondary {
    background-color: var(--color-white);
    color: var(--color-primary);
}



@media screen and (min-width:1024px) {
    .btn {
        font-size: 1.6rem;
    }
}

/* ARTICLES */
.article {
    display: grid;
    justify-content: center;
}

.card {
    background-color: var(--color-secondary);
    border-radius: var(--border-radius);
    transition: all .2s linear;
}

.card:hover {
    background-color: var(--color-primary);
}

/* BOX SHADOW */
.box {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px 3px, rgba(0, 0, 0, 0.05) 0px 4px 6px 2px;
}

/* HEADER SECTION */
.header {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 2.5rem 2rem;
    align-items: center;
}

.header--logo {
    display: flex;
    justify-content: center;
    font-weight: 700;
    align-items: center;
    margin-bottom: 1.5rem;
}

.header--logo__name {
    margin-right: 1rem;
    font-size: 2.2rem;
}

.header--logo__icon {
    position: absolute;
    color: var(--color-primary);
    font-size: 4.6rem;
}

.header--logo__img {
    position: relative;
    color: var(--color-white);
    margin: .6rem;
    font-size: 2.2rem;
}

.navbar,
.nav--bottom {
    display: flex;
    justify-content: space-evenly;
    font-weight: 500;
    margin-bottom: 1.5rem;
    align-items: center;
    white-space: nowrap;
}

.navbar--item:hover {
    transition: all .2s linear;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: var(--border-radius);
    padding: 0.5rem;
}

.navbar--item {
    color: var(--color-heading);
}

.item-1 {
    margin-right: 6rem;
}

.item-2,
.item-3 {
    display: none;
}

.header--login {
    font-weight: 800;
    color: var(--color-heading);
    margin-right: 3rem;
    white-space: nowrap;
}

.btn--header {
    margin-left: 4rem;
}

@media screen and (min-width:1024px) {
    .header {
        flex-direction: row;
        justify-content: center;
        margin: 2.5rem auto;
    }

    .header--logo {
        margin-right: auto;
    }

    .item-2,
    .item-3 {
        display: block;
    }

    .navbar {
        margin-right: 14rem;
    }

    .navbar--item {
        margin-right: 3.5rem;
    }
}


/* MAIN */
/* POST-JOB SECTION */
.post-job {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 7rem;
    text-align: center;
}

.post-job__left--header {
    margin-bottom: 2rem;
}

.post-job__left--description {
    font-size: 1rem;
    margin-bottom: 7rem;
    font-weight: 500;
    color: var(--color-heading-light);
}

.post-job__form {
    display: flex;
    align-items: center;
    padding: 1.5rem 1.5rem 2rem 2rem;
    border-radius: var(--border-radius);
    width: 250px;
    margin: 0 auto;
}

.post-job--search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-job__search-icon,
.post-job__loc-icon {
    font-size: 1.4rem;
    cursor: pointer;
}

.post-job--search-input {
    width: 120px;
}

.post-job--search-input {
    border: 0;
    outline: 0;
    margin-left: 1rem;
}

.btn--search {
    padding: .5rem;
}

.post-job__image {
    width: 350px;
    display: none;
}

.modal {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.703);

    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    transform: scale(0);
    transform-origin: top center;
    transition: 0.3s;

    z-index: 9999;
}

.modal>i {
    color: white;
    cursor: pointer;
    font-size: 40px;

    position: absolute;
    top: 5%;
    left: 5%;
}

.CotainerHistoryBoxes {
    width: 80%;
    height: 48%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.HistoryBox {
    width: 30%;
    height: 90%;
    border-radius: 5px;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.SearchCardContainer {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 350px;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal .SearchCardContainer input {
    width: 250px;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    border-bottom: 3px solid rgb(94, 93, 93);

    padding: 10px;
    font-size: 20px;
}

.modal .SearchCardContainer button {
    width: 80px;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    outline: 0;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    cursor: pointer;
    background-color: transparent;
}

.modal>button:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 1px solid var(--color-white);
}

@media screen and (min-width:1024px) {
    .post-job {
        flex-direction: row;
        justify-content: center;
        text-align: left;
        margin: 7rem auto;
    }

    .post-job__left {
        margin-right: 14rem;
    }

    .post-job__left--description {
        font-size: 1.2rem;
    }

    .post-job__form {
        width: 500px;
        margin: 0;
    }

    .post-job__loc-input {
        width: 70px;
    }

    .post-job__image {
        display: block;
    }

    .btn--search {
        margin-left: 6rem;
        padding: 1.5rem 2.5rem;
    }
}


@media screen and (min-width:768px) and (max-width:1024px) {
    .post-job__form {
        width: 500px;
    }
}

/* FOOTER SECTION */
.footer {
    background-color: var(--color-primary);
    margin-bottom: 2rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 4rem;
}

.footer--block {
    display: flex;
    justify-content: space-between;
    color: var(--color-white);
}

.footer--links {
    margin-top: 4rem;
}

.footer--title {
    color: var(--color-white);
    margin-bottom: 2rem;
}

.footer--list__item {
    font-size: .8rem;
    line-height: 2rem;
    color: var(--color-white);
}

.footer__icon {
    display: flex;
}

.footer--list__icon {
    margin-right: 1rem;
}

.design {
    margin: 4rem auto 0;
    font-size: 1.2rem;
    line-height: 2.6rem;
    color: var(--color-white);
    font-weight: 400;
    text-align: center;
}

@media screen and (min-width:1024px) {
    .container {
        margin: 0 auto;
        padding: 5rem;
    }

    .footer--list__item {
        font-size: 1.4rem;
    }
}

.container-one {
    max-width: 1345px;
}

.saved-cities-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 300px;
}

.weather {
    top: 350px;
    text-align: center;
}

.weather .card-weather {
    width: 350px;
    height: 300px;
    background-color: #fff;
}

.weather-icon {
    width: 100px;
}

.modal h1 {
    font-size: 30px;
    font-weight: 500;
}

.modal h2 {
    font-size: 25px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.city-card .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 25px;
    margin-right: 10px;
}

.pressure {
    margin-top: 5px;
}

.error {
    position: absolute;
    top: 300px;
    color: rgb(250, 55, 55);
    display: none;
}

.city-card {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.city-name {
    margin-right: 10px;
    font-size: 1.2rem;
}

@media screen and (min-width:1024px) and (max-width:1280px) {
    .container {
        padding-left: 12rem;
        padding-right: 12rem;
    }

}

@media screen and (min-width : 1024px) {
    .saved-cities-container {
        flex-direction: row;
        flex-wrap: wrap;
        overflow-y: hidden;
        justify-content: space-between;
        margin-top: 20px;
        height: auto;
    }

    .modal .SearchCardContainer input {
        width: 450px;
    }
}